/*************************************
 * TITLE: Sinorca Screen Stylesheet  *
 * URI  : sinorca/sinorca-screen.css *
 *************************************/


body {
  color: black;
  background-color: white;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 71%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 8.5pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(153,153,153);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

.doNotDisplay {
  display: none;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}


/* ##### Header ##### */

.superHeader {
  color: black;
  background-color: white;
  border-bottom :1px solid rgb(100,135,220);
  /*height: 1em;*/
}

.superHeader a {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

.superHeader a:hover {
  text-decoration: underline;
}

.superHeader .left {
  position: absolute;
  left: 1.5mm;
  top: 0.75ex;
}

.superHeader .right {
  position: absolute;
  right: 1mm;
  top: 1ex;
}

.superHeader .rightbelow {
  position: absolute;
  right: 1mm;
  top: 9ex;
}

.midHeader {
  color: rgb(39,78,144);
  background-color: white;
}

.headerTitle {
  font-size: 337%;
  font-weight: normal;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}

.subHeader {
  color: white;
  background-color: rgb(100,135,220);
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}  

.subHeader a:hover {
  text-decoration: underline;
}

.superHeader .highlight, .subHeader .highlight {
  color: white;
  background-color: transparent;
}


/* ##### Side Bar ##### */

#side-bar {
  width: 15em;
  float: left;
  clear: left;
  border-right: 1px solid rgb(153,153,153);
}

#Log_menu {
width:100%
}

#side-bar div {
 /*  border-bottom: 1px solid rgb(153,153,153); */
 border-bottom: white;
}

.sideBarTitle {
  /*font-weight: bold;*/
  margin: 0 0 0.5em 2.5mm;
  padding: 1em 0 0 0;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 1.1em 0;
}

#side-bar li {
  margin: 0;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
}

#side-bar a, .thisPage {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0.75em 1ex 0.75em 5mm;
  display: block;
}

.thisPage {
  color: black;
  background-color: white;
  padding-left: 4mm;
  border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
}

#side-bar a:hover {
  color: white;
  background-color: rgb(100,135,220);
  text-decoration: none;
}

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block;
}

#side-bar .sideBarText a {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: inline;
}

#side-bar .sideBarText a:hover {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: none;
}

.lighterBackground {
  color: inherit;
  background-color: white;
}


/* ##### Main Copy ##### */

#main-copy {
  color: black;
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 15em;
  padding: 0.5mm 5mm 5mm 5mm;
  border-left: 1px solid rgb(153,153,153);
}

#main-copy p {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

#main-copy a {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: underline;
}

#main-copy a:hover {
  text-decoration: none;
}

#main-copy h1 {
  color: white;
  background-color: rgb(100,135,220);
  font-size: 100%;
  font-weight: bold;
  margin: 3em 0 0 0;
  padding: 0.5ex 0 0.5ex 1ex;
}

#main-copy .topOfPage {
  color: white;
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 2.5ex 1ex 0 0;  /* For MSIE */
  padding: 0;
  float: right;
}

#main-copy > .topOfPage {
  margin: 2.75ex 1ex 0 0;  /* For fully standards-compliant user agents */
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}


/* ##### Footer ##### */

#footer {
  color: white;
  background-color: rgb(100,135,220);
  font-size: 91%;
  margin: 0;
  padding: 1em 2.5mm 2.5ex 2.5mm;
  clear: both;
}

#footer .left {
  line-height: 1.45em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
}

#footer a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}

/*==========================MENU OF TABLIST=======================*/
#conte {
	position:absolute;
	display:inline;
	width:90%;
	/*width:875px; /* WIDTH = 100% - (MARGIN-RIGHT + MARGIN-LEFT) */
	height:403px; /* HEIGHT = CONTAINER HEIGHT - (MARGIN-TOP + MARGIN-BOTTOM + BORDER-TOP + BORDER-BOTTOM) */
	border:0px gray solid;
	margin-top:2px;
	margin-left:6px;
	overflow:auto;
	top: 3px;
	left: -2px;
}
#conten {
	position:absolute;
	display:inline;
	/*width:70%;*/
	width:95%;
	/*width:875px; /* WIDTH = 100% - (MARGIN-RIGHT + MARGIN-LEFT) */
	height:354px; /* HEIGHT = CONTAINER HEIGHT - (MARGIN-TOP + MARGIN-BOTTOM + BORDER-TOP + BORDER-BOTTOM) */
	border:0px gray solid;
	margin-top:2px;
	margin-left:6px;
	overflow:auto;
	top: 52px;
	left: -2px;
}
#content {
	position:absolute;
	display:inline;
	width:90%;
	/*width:875px; /* WIDTH = 100% - (MARGIN-RIGHT + MARGIN-LEFT) */
	height:374px; /* HEIGHT = CONTAINER HEIGHT - (MARGIN-TOP + MARGIN-BOTTOM + BORDER-TOP + BORDER-BOTTOM) */
	border:1px gray solid;
	margin-top:2px;
	margin-left:6px;
	overflow:auto;
	top: 31px;
	left: -2px;
}
#content10 {
	position:absolute;
	display:inline;
	/*width:70%;*/
	width:98%;
	/*width:875px; /* WIDTH = 100% - (MARGIN-RIGHT + MARGIN-LEFT) */
	height:330px; /* HEIGHT = CONTAINER HEIGHT - (MARGIN-TOP + MARGIN-BOTTOM + BORDER-TOP + BORDER-BOTTOM) */
	border:0px gray solid;
	margin-top:50px;
	margin-left:6px;
	overflow:auto;
	top: 31px;
	left: -2px;
}

#content2 {
	position:absolute;
	display:inline;
	width :82%;
	/*width:1170px;*/
	margin-top:2px;
	_margin-top:2px;
	margin-left:2px;
	height:413px;
	border: 0px solid gray;
	top: 89px;
	_top: 101px;
	left: 171px;
}
#content3 {
	position:absolute;
	display:inline;
	width :31%;
	/*width:575px;*/
	margin-top:2px;
	margin-left:2px;
	height:405px;
	border: 1px solid gray;
	top: 1px;
	left: 589px;
	float :right;
	overflow:auto;
}
#content4{
	position:absolute;
	display :inline;
	width : 226px;
	height :321px;
	overflow :auto;
	top: 86px;
	left: 4px;
}
#content5{
	position:absolute;
	display :inline;
	width : 226px;
	height :321px;
	overflow :auto;
	top: 86px;
	left: 235px;
}
#FileUploadContainer{
	position:absolute;
	display :inline;
	border: 0px solid gray;
	/*width : 370px;*/
	width : 490px;
	height :300px;
	_height: 293px;
	overflow :auto;
	top: 108px;
	_top: 115px;
	left: 86px;
}
#SamConten {
	position:absolute;
	display:inline;
	/*width:70%;*/
	width:95%;
	/*width:875px; /* WIDTH = 100% - (MARGIN-RIGHT + MARGIN-LEFT) */
	height:375px; /* HEIGHT = CONTAINER HEIGHT - (MARGIN-TOP + MARGIN-BOTTOM + BORDER-TOP + BORDER-BOTTOM) */
	border:0px gray solid;
	margin-top:2px;
	margin-left:6px;
	overflow:auto;
	top: 33px;
	left: -2px;
}
/*==========================Log out=======================*/
